# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Unity asset meta files are required for version control
# Never ignore .meta files

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Visual Studio cache
.vs/

# Crashlytics
crashlytics-build.properties
